.MessageBox{
    display:inline;
    position: relative;
    display: inline-block;
    margin: 1.5em 1.5em;
    padding: 0.5em 0.5em;
    min-width: 7em;
    max-width: 100%;
    color: #555;
    font-size: 1em;
    background: rgb(63, 235, 83);
    border-radius: 0.3em;
    overflow-wrap: break-word;
    min-width: 15em;
  }



  .MessageBox::before {
    content: "";
    position: absolute;
    top: .5em;
    left: -1.2em;
    border: .7em solid transparent;
    border-right: .7em solid rgb(63, 235, 83);
    z-index: 0;
  }

  .MessageBox-bottom-pane {
    display:flex;
    position:absolute;
    font-size: .8em;
    bottom: -2em;
  }

  .ChatMessageDate{
    background-color: #303030;
    color:greenyellow;
    padding:0 .5em;
    border-radius:1em;
    width:15em;
  }

  .DeleteButton{
    color: white;
    background-color: red;
    border: 1px solid red;
    border-radius:1em;
    padding: 0 .5em;
    margin: 0 .5em;
  }

  .GoodReactionButton{
    color:yellow;
    border: 1px solid yellow;
    border-radius:1em;
    padding: 0 .5em;
    margin: 0 .5em;
  }

  .LoveReactionButton{
    color:palevioletred;
    border: 1px solid palevioletred;
    border-radius:1em;
    padding: 0 .5em;
    margin: 0 .5em;
  }

  .ChatMessageComponent{
    margin: 1em 0;
    display: flex;
    /* background-color: rgba(48,48,48,0.3); */
  }

  .ChatMessageComponent img{
    width: 5em;
    height:5em;
    border-radius: 50%;
    margin-top:.25em;
    margin-left:.25em;
  }