.MemberCard{
    position:relative;
    background-color: rgb(47,47,47);
    border: .2em solid greenyellow;
    margin: 1em .3em;

}

.MemberCardChildren{
    height:100%;
    text-align: left;
    display: flex;
    align-items: center;
}

.MemberCardChildren img{
    display:block;
    height:1.5em;
    padding-left:auto;
    margin-right:0.5em;
    margin-left:0.5em;
    border-radius: 50%;
}

.MemberCardChildren img:hover{
    animation-name: MemberCardChildren-hover;
    animation-duration:2s;
    animation-fill-mode: forwards;
}

@keyframes MemberCardChildren-hover{
    0% {
        transform: scale(1);
        transform: rotate(0deg);
    }
    100% {
        transform: scale(1);
        transform: rotate(1440deg);
    }
}


.MemberCard-Selected{
    position:absolute;
    width:1em;
    background-color: greenyellow;
    top: 0;
    left: 0;
    bottom: 0;
}