.MemberInformation{
    /* height:20em; */
    margin-bottom:1em;
    border: 1px solid black;
}

.MemberInformation-flex{
    overflow-x: scroll;
    display:flex;
    height: 85%;
}


.MemberInformationPane-Content{
   font-size:2em;
}
