.ItemCard{
    background-color: #C0C0C0;
    padding:1rem;
    display:grid;
    /* box-shadow: 0 10px 25px 0 rgba(0,0,0,.5); */
    border:0px;
    border-radius: 10px;
    grid-template-rows: 80% 20%;
    font-size: 1.5rem;
    margin:2%;
    flex-shrink: 0;
}

.ItemCard img{
    margin: auto;
    height:100%;
    grid-row: 1/ 1;
    
}