.PullDownMenu{
    margin-left:auto;
    margin-right:auto;
    margin-top:0.5em;
    margin-bottom: 0.5em;
    width:80%;
    align-items: left;
}

.PullDownMenu .SummaryButton{
    background-color: white;
    /* opacity:0.8; */
    width:100%;
    border:none;
    border-radius: 0.2em;
    font-size:2em;
    text-align:left;
    padding-left:0.5em;
}

.PullDownMenu .PullDownMenu-Content{
    margin-top:0.3em;
    background-color: white;
    /* opacity:0.8; */
    border:none;
    border-radius: 0.2em;
    font-size:2em;
    padding-left:0.5em;

    visibility: hidden;

    /* transform:scale(1,0);
    transform-origin: top;
    transition: transform 0.2s; */
}

.PullDownMenu .visible{
    visibility: visible;
    /* transform: scale(1,1); */
}
.pull-down-menu-summary{
    display: flex;
    

}

.rotate-0{
    transition-duration:0.2s;
    transform:rotate(0deg);   
}

.rotate-90{
    transition-duration:0.2s;
    transform:rotate(90deg);
}