.PassWordPane{
    position:absolute;
    background-color:#b2b2b2;
    top:2.5em;
    left:0;
    right:0;
    bottom:0;
    z-index:10;
}

.TitleBar{
    width:100%;
    height:1.5em;
    border-radius:.5em .5em 0 0;
    background-color: #303030;
    color: greenyellow;
    padding: 0 .5em;
    display: flex;
}

.TitleBar .Exit-Button{
    width: .8em;
    height:.8em;
    margin:.35em .2em;
    background-color: red;
    border-radius:.5em;
}

.TitleBar .Close-Button{
    width: .8em;
    height:.8em;
    margin:.35em .2em;
    background-color: yellow;
    border-radius:.5em;
}
.TitleBar .Open-Button{
    width: .8em;
    height:.8em;
    margin:.35em .2em;
    margin-right:1em;
    background-color: rgb(47, 202, 0);
    border-radius:.5em;
}


.PassWordInputWindow{
    position:relative;
    background-color: white;
    width:24em;
    left: calc(50% - 12em);
    top: calc(30% - 5em);
    border-radius:.5em;
}

.PassWordInputWindow-content{
    padding:.5em;
}