.FoodPane{
    width:100%;
    height:50%;
    border: solid 1px black;
}

.FoodPane-flex{
    overflow-x: scroll;
    display:flex;
    height:85%;
}

.Category{
    height:15%;
    background-color: #FFC039;
    color:#121258;
    font-weight: bold;
    font-size:2em;
}

/* ItemCard {
    background-color: black;
} */