.ItemCard:hover{
    animation-name: ItemCard-hover;
    animation-duration:.2s;
    animation-fill-mode: forwards;
}

@keyframes ItemCard-hover{
    0% {
        transform: scale(1);
    }
    50%{
        transform: scale(0.95);
    }
    100% {
        transform: scale(1);
    }
}

.ItemCard img{
    margin: auto;
    grid-row: 1/ 1;
    object-fit: cover;
    border-radius: 3%;
}