.Cancel-Slide-Pane{
    position:relative;
    width:10em;
}

.cancel_toggle_button{
    position:relative;
    padding: .5em;
    color:greenyellow;

}

.history-cancel-toggle{
    width:15%;
}

.cancel-button-pane{
    position: relative;
    top:0;
    left:0;

}