.HistoryCard{
    /* border: solid 1px black; */
    position:relative;
    height:2em;
    width:100%;
    display:block;
    margin:0.5em 0em;

}

.HistoryCardPane{
    left:0;
    top:0;
    bottom:0; 
    background-color: rgb(180, 180, 180);
    height:2em;
    overflow-x: scroll;
    font-size: 1em;
    display:flex;
    margin: 0.5em 0em 0.5em 0em;
}

.Cancel-Slide-Pane{
    position:relative;
    width:10em;
}

.cancel-button{
    position:relative;
    height:100%;
    background-color: red;
    margin-left:auto;

}

.cancel_toggle_button{
    position:relative;
    height:100%;
    background-color: rgb(48,48,48);
    vertical-align: middle;
    padding-left:.5em;
    padding-right:.5em;
}

.cancel_toggle_button{
    position:relative;
    height:100%;
    vertical-align: middle;
    color:greenyellow;
}


.history-date{
    margin-left:1em;
    width:50%;
}
.history-purchasedItem{
    margin-left:2em;
    width:15%;
}
.history-money{
    margin-left:2em;
    width:15%;
}

.history-cancel-toggle{
    width:15%;
}

.cancel-button-pane{
    position: relative;
    top:0;
    left:0;

}